## PCEP Python Exam Prep - Knowledge and Skills

### i. Fundamentals

* Guido van Rossum named Python in honor of Monty Python's Flying Circus.
* Python is an example of a 'high-level programming language'.
* Python language 'elements' include:
    - an alphabet
    - a lexis
    - a syntax
    - semantics
* A set of complete known commands is called an 'instruction list'.
* A program written in a high-level programming language is called a 'source code'
    - a file containing source-code is a 'source-file'
* An 'interpreter' is a computer program which directly executes instructions written in a programming language and is used for:
    - Python and Perl
* 'CPython' is the default implimentation of the Python programming language.
* A 'console' is a command-line interpreter which lets you interact with your OS and execute Python commands and scripts.
* A 'debugger' is a tool that lets you launch your code step-by-step and inspect it at each moment of execution.
* The Python file extension is 'Py'.
* 'Machine code' is a low-level programming language consisting of binary digits/bits that the computer reads and understands.
* A compiler is a special program that translates a programming languages' source-code into machine code and is used for:
    - C and C++
* Compilation tends to be faster than interpretation and converts code directly into machine code, made executable by the processor.

### ii. Data Types and Variables

* The escape character (backslash \\) changes the meaning of the character next to it.
* The 'positional parameter' is determined by its position.
* 'Integer' and 'floating-point' numbers are different because they are stored differently in the computer memory.
* 0x - prefix means that the number after it is denoted as a hexadecimal.
* 0o - prefix means that the number after it is denoted as an octal.
* the // operator performs integer division - it is a floor division.
* Multiplication precedes addition (BODMAS/PEDMAS)
    - binding is left-sided
    - HOWEVER for exponentials** - binding is RIGHT-SIDED
* A 'keyword' is a word that CANNOT:
    - be used as a variable name
    - be used as a function name
* The 'keyword parameter' is determined by the argument's name specified along with its value.
* The 'print()' function can output values for any number of arguments (including zero).
* bool(1) is True and is denoted by 1.
* A variable name cannot start with & or Number.
* 'True' and 'False' are reserved words so they cannot be used as variable names.
* Be careful when naming variable names after functions! For example, list can be used BUT not list().

### iii. More data types, conditional execution loops, lists, list processing, logical and bitwise operations, functions, dictionaries, exceptions and data processing

* A def function starts with the 'def' keyword.
* A function definition must be placed BEFORE the first invocation.
* A 'function parameter' is a kind of variable accessible only inside the function.
* A way of passing arguments in which the order of the arguments determines the initial parameters' values is referred to as 'positional'.
* A parameterless function could be expressed as ...
    - def fun()
* The 'return' keyword:
    - forces the function's execution to terminate
    - may cause the function to return a value
* The 'NONE' keyword designates a NONE value and can be:
    - compared with variables
    - can be assigned to variables
* A variable defined outside a function may be read, but not written (something more is needed to do so).
* If a list is passed into a function as an argument, deleting any of its element inside the function using the 'del' instruction will affect the argument.
* A 'dictionary' in Python is a mutable data structure where each key is unique.
* As dictionary is a key-value pair, the '+' operator cannot be used to combine 2 dictionaries, hence it is an unsupported operand type for dictionaries.
* The keys() method returns an iterable object consisting of all the keys gathered within the dictionary.
* The fact that 'tuples' belong to sequence types means that they can be indexed and sliced.
* A 'tuple' can be with parenthesis or without parenthesis.
* If there is a single member in a 'tuple', you must place a comma (,) after the member!
* The items() method returns tuples where each tuple is a key-value pair.
* There is also a method named values(), which works similarly to keys(), but returns values.
* A built-in function is a function which comes with Python, and is an integral part of Python.
* The 'break' statement terminates the entire loop and alters the flow of the loop.
* try-except block
    - if you suspect that a snippet may raise an exception, you should place it in the try block!
    - the code that follows the except statement will be executed if the code in the try clause runs into an error!

1. print( )

In [66]:
# there is nothing to print so 'end' and 'sep' does not make much sense for this line.

print(end='',sep='%%')

# see below for proper usage!

In [67]:
print("Hello","Mammy", end='',sep='%%')

Hello%%Mammy

In [68]:
# \ removes the special meaning. 
# \n adds a new line character but when you insert \ before it ...
# ... it loses its special meaning and is displayed as it is.

print("I love\\nNoodles.")
print("I love\\Noodles.")

I love\nNoodles.
I love\Noodles.

2. Behaviour of variables and updating variables

In [69]:
# title() method will capitalize the first letter of each word!

full_name = "steady-eddie jones" 
print(full_name.title())

Steady-Eddie Jones

In [70]:
# this was a question that I got wrong!
# I assumed that because the values for both variables were the same, it didn't mean the variables were.

a = 2
b = 2
print(a is b)

True

In [6]:
# I didn't realise multiple variables could be assigned on one line and comma separated!

name, phone, location = "Toby Roy", 7053630588, "London"
print(name, phone, location, sep="**")

Toby Roy**7053630588**London

In [7]:
# updating variables!

x = 1
y = 2

x, y, z = x, x, y
z, y, z = x, y, z

print(x, y, z)

1 1 2

In [8]:
# strings are immutable so do not support item-assignment!

str = 'BeeR'
#str[5] = 'r'
#print(str)
# TypeError: 'str' object does not support item assignment

3. Control Flow (while, if, for, else (and elif) range etc)

In [9]:
# when i = 2, an * is printed ...
# when i = 0 (2-2), an * is printed ...
# when i = -2 (0-2), the while condition is no longer satisfied!

i = 2
while i >= 0:
    print("*")
    i -= 2

*
*

In [10]:
# a = 0 --> 0 + 2 = 2 (becomes input - indentation is important)
# a = 2 --> 2 + 2 = 4 (becomes input - indentation is important)
# a = 4 --> 4 + 2 = 6 (output)
# a = 6 (not < 5) --> no output

a = 0
while (a < 5): a += 2
print(a)

6

In [71]:
# similar to above - I got this wrong as well!
# x = -5 --> -5 + 3 = -2 --> output is pcep
# x = -2 --> -2 + 3 = 1 --> output is pcep
# x = 1 --> 1 + 3 = 4 --> output is pcep
# x = 4 (not < 2) --> no output

x = -5
while (x < 2):
   x = x + 3
   print("pcep")

pcep
pcep
pcep

In [12]:
# it's easier to understand these types of questions when you quickly write the outcome!
# i = 0, i + 1 = 1, so an asterix is printed ...
# i = 1, i + 1 = 2, so there is a break!
# that means there is only one asterix printed in total as the break is initiated!

i = 0
while i <= 5:
    i += 1
    if i % 2 == 0:
        break
    print("*")

*

In [72]:
# when initial = 1, initial + 1 = 2 ...
# 2 is therefore printed!
# 2 + 1 is not less that 3 (while condition), so the 'break' is initiated ...

initial = 1
while initial < 3:
   initial += 1
   print(initial)
   break
else:
   print("Break")

2

In [14]:
# got this one correct but used the wrong logic!

# 0 + 1 => #
# 1 + 1 => continue
# 2 + 1 => #
# 3 + 1 => continue
# 4 + 1 => #
# 5 + 1 => is not less than 6!

var = 0
while var < 6:
    var += 1
    if var % 2 == 0:
        continue
    print("#")

#
#
#

In [15]:
# I got this question wrong - I thought an empty string was still a value! 

data = ""
while data:
   print("Data is not Empty")
else:
   print("Data is Empty")

Data is Empty

In [73]:
# I was unclear as to why this enters into an infinite loop but I was correct nonetheless!
# I initially thought it was because there is no condition on the 'else' statement.
# But it is because the while statement ensures that i will ALWAYS be less than i < i + 2.

#i = 0
#while i < i + 2:
#    i += 1
#    print("*")
#else:
#    print("*")

In [17]:
# The pass statement in Python is used when a statement is required syntactically ...
# ... but you do not want any command or code to execute.
# The pass statement is a null operation; nothing happens when it executes.
# The pass is also useful in places where your code will eventually go, but not written yet!

term = 'second'
num = 0
while num < len(term):
    num += 1
    pass
print('Number:', num)

Number: 6

In [18]:
# i = 0 --> 0 + 1 = 1 (print 'Hi') (print '1')
# i = 1 --> 1 + 1 = 2 (pass) (print '2')
# i = 2 --> 2 + 1 = 3 (not < 2)

i = 0
while i < 2:
   i += 1
   if i == 1:
       print('Hi')
       pass
   print(i)

Hi
1
2

In [19]:
# initially I didn't think the syntax looked correct, but it is actually perfectly fine!
# if there is only one statement in one line - then it is valid!

inp = 1
 
if (inp < 3): print("Sandy")
else: print("Monika")

Sandy

In [20]:
# this is a valid syntax!
# I haven't seen code structured like this, so assumed the syntax was invalid.

year = 10
print("Year less than 2021") if year < 2021 else print("Bye 2020")

Year less than 2021

In [21]:
# Although, 'int' is different to the 'float' type, the values are the same ... 
# ... python is smart enough to tackle this and consider them the same value wise.

if 5 == 5.0:
   print("Same content")
else:
   print("Different content")

Same content

In [22]:
# At the start, i = 2 so i > 0 is satisfied, and '#' is printed due to the very first line after the if statement.
# In the nested if-elif-else, the first condition ( if i < 4:) is satisfied, and hence '#' is printed again.
# It will not check for other conditions because the first condition itself is satisfied.

i = 2
if i > 0:
   print("#")
   if i < 4:
        print("#")	 
   elif i < 3:
        print('#')
   elif i ==2:
        print("#")
   else:
        print("#")
 
else:
   print("#")

#
#

In [23]:
# had to use Thonny for debugging!
# see below ... 

var = 0
for i in range(3):
    # (0, 1, 2)
   for j in range(-2, -7, -2):
    # (-2, -4, -6)
     var += 1
        # var adds 1 each time (0 --> -2, -4, -6) (1 + 1 + 1 = 3)
        # var adds 1 each time (1 --> -2, -4, -6) (1 + 1 + 1 = 3)
        # var adds 1 each time (2 --> -2, -4, -6) (1 + 1 + 1 = 3)
print(var)

9

In [24]:
# each print statement will print in the next line!

pet="dog"
for i in range(0,len(pet)):
   print(pet[i])

d
o
g

3. Lists, Dictionaries and Tuples (plus conditionals)

In [25]:
# l3 and l2 share the same memory location and refers to the same object ...
# ... so l3 = l2 is True ...
# ... and l3 == l2 is also True ...
# ... and l3 is l2 is also True
# l1 is a different object but its content is the same as l2 ...
# ... Hence, l1 is l2 is False ...
# ... but l1 == l2 is True!

l1 = ['pandas','Numpy','Scipy']
l2 = ['pandas','Numpy','Scipy']
l3 =  l2

print(l3 == l1)
print(l1 is l3)
print(l1 == l2)
print(l2 == l1)
print(l1 is l2)
print(l3 is l2)

True
False
True
True
False
True

In [26]:
# this is a type of question that catches me out!

x = [1,2,3,4]
y = x
y.pop()
print(x,y)

[1, 2, 3] [1, 2, 3]

In [27]:
# this is another type of question that catches me out!

vals = [0, 1, 2]
vals.insert(0, 1)
print(vals)

del vals[1]
print(vals)

[1, 0, 1, 2]
[1, 1, 2]

In [28]:
# the remove() method will remove the first occurrence of the value 2

var = ["Hello", 2, (2,15,20), "Coder"]
var.remove(2)
print(var)

['Hello', (2, 15, 20), 'Coder']

In [29]:
# sort() will sort the elements of the list in ascending order of their ASCII values!

l1 = ['A','a','B','b']
l1.sort()
print(l1)

['A', 'B', 'a', 'b']

In [30]:
# sort() works only for the list of same data type! 
# Here, there are 2 data types - str and int so it will be an error.

mixed_list = [65,"A",66,"B",67,"C"]
#mixed_list.sort()
#print(mixed_list)

In [31]:
# the number of elements is zero - but I don't understand why!
# I can only assume its because there needs to be increasing values in the range.
# Or it could be because -2 to -1 only increases by 1 and -1 is not included in the range.

lst = [i for i in range(-1, -2)]

In [32]:
# d1 and d2 are dictionaries and both are different dictionaries but the content is the same.
# Hence, the == operator will be True irrespective of the order of the elements
# ... because the order does not matter in the dictionary.

d1 = {'Age': 27, 'Name': 'Holding'}
d2 = {'Name': 'Holding', 'Age': 27}
print(d1 == d2)

True

In [33]:
# similar to above

d1 = {"sandy":35, "surname":"Kate"}
d2 = {"surname":"Kate", "sandy":35}
print(d1 == d2)

True

In [34]:
t = tuple('Hello World')
print(t[:-6])

('H', 'e', 'l', 'l', 'o')

In [35]:
# For a single element, if there is a comma at the end, it is considered a tuple (not a string).

fruit = "Mango",
print(type(fruit))

<class 'tuple'>

In [36]:
# really unclear - I thought tuples were immutable!
# I can only assume this is possible because tup is being combined with ITSELF.
# ... the hash would still be the same.

tup = (1, ) + (1, )
tup = tup + tup
print(len(tup))

4

In [37]:
# note that with or without the brackets the end result is the same!

tupl1 = (1, 2, 3)
tupl2 = ("Apples", "Bananas")
tupl3 = (tupl1 + tupl2)
print(tupl3)
tupl4 = tupl1 + tupl2
print(tupl4)

(1, 2, 3, 'Apples', 'Bananas')
(1, 2, 3, 'Apples', 'Bananas')

In [38]:
# Through using Thonny, I discovered where I was going wrong.
# I assumed that the range was 0, 1 and 2. The range is just 0 and 1.

my_list = [1, 2]

for v in range(2):
# (0, 1)
    my_list.insert(-1, my_list[v])
# so for 0 --> [1,1,2]
# and for 1 --> [1,1,1,2]
    
print(my_list)

[1, 1, 1, 2]

In [39]:
# this was a really difficult question (for me)!
# I used Thonny to better understand it but was still a little unclear.

lst = [[x for x in range(3)] for y in range(3)]
# [[0,1,2][0,1,2][0,1,2]]
for r in range(3):
# range(0,3)
# 0, 1, 2
    for c in range(3):
    # range(0,3)
    # 0, 1, 2
        if lst[r][c] % 2 != 0:
            # 0 --> 0 [0,1,2] --> *
            # 1 --> 1 [0,1,2] --> *
            # 2 --> 2 [0,1,2] --> *
            print("*")

*
*
*

In [40]:
# this is similar to the one above - I struggled with this too!

t = [[3-i for i in range(3)] for j in range(3)]
# [[3,2,1][3,2,1][3,2,1]]

s = 0
for i in range(3):
# range(0,3)
# 0, 1, 2 --> [3,2,1] --> 3+2+1 = 6
    s += t[i][i]
print(s)

6

In [41]:
# For the outer loop, the range is 1 so it is executed only once. 
# For the inner loop, the range is also 1

list = [[1, 2, 3]]
result = 1
 
for i in range(1):
   result *= 10
    # just one execution --> 1 * 10 = 10
   for j in range(1):
       list[i][j] *= result
        # 0 position of the list we have 1 [1,2,3] 
        # 1 * 10 (result) --> answer is 10
 
print(list)

[[10, 2, 3]]

In [42]:
# I'm unclear about the output. Why is it not the "key" as opposed to the "value"?
# Thonny helped to some extent here.
# I think 'dict.keys' is used to set the correct range and ... 
# through indexing [1], the output will therefore be the value(s).

dct = {}
dct['1'] = (1, 2)
dct['2'] = (2, 1)

for x in dct.keys():
    print(dct[x][1], end="")

21

In [43]:
# this is a question that has come up twice!
# I've got it right on both occasions, but do not necessarily understand it fully.

dct = {'one': 'two', 'three': 'one', 'two': 'three'}
v = dct['three']

for k in range(len(dct)):
    v = dct[v]
    
print(v)

one

In [44]:
# If you want to loop through a dictionary's keys and values, you can use the items() method.
# The items() method returns tuples where each tuple is a key-value pair ...
# ... I didn't realise that p and q represented key and value respectively!

a = {1:"python", 2:"java", 3:"C", 4:"C#", 5:"Perl"}
for p,q in a.items():
    print(p,q,end=" ")

1 python 2 java 3 C 4 C# 5 Perl

4. Functions

In [45]:
# this was a silly one to get wrong - I convinced myself that it was a trick question!

def func(var):
    var = 5

var = 3
func(var)
print(var)

3

In [46]:
# The swap functions swaps the values of num1 and num2 ...

def swap(num1, num2):
    # (5, 2)
   temp = num1;
    # 'temp' acts as a placeholder
    # temp = num1 (this means that temp is equal to 5)
   num1 = num2;
    # num1 = num2 (this means num1 is equal to 2) 
   num2 = temp;
    # num2 = temp (this means that num2 is equal to 5)
num1 = (2)
num2 = (5)
swap(num1, num2)
print(num1 , num2)
# output should be 25

2 5

In [47]:
# similar to above!

def swap(a, b):
   a, b = b, a
   return (a, b)
 
a = "Python2"
b = "Python3"
a, b = swap(a, b)
print(a, b)

Python3 Python2

In [48]:
# I got this correct, but it's a tricky question and it took some thought ...
# this appears to be in a loop UNTIL y = 0 ...

def fun(x, y):
    # (0, 3)
    # 0 does not equal 3
    # (0, 2)
    # 0 does not equal 2
    # (0, 1)
    # 0 does not equal 1
    # (0, 0)
    # 0 DOES equal 0
    if x == y:
        return x
    else:
        return fun(x, y-1)
    
print(fun(0, 3))

0

In [49]:
# This is another one similar to the question above.

def f(x):
    # x = 3
    # return 3 + f(2)
    # x = 2
    # return 2 + f(1)
    # x = 1
    # return 1 + f(0)
    # x = 0 (0 is returned)
    # therefore 3 + 2 + 1 = 6
    if x == 0:
        return 0
    return x + f(x-1)

print(f(3))

6

In [50]:
# This is called factorial function which calls itself in a recursion like -
# ... 4 * fact(3)
# ... = 4 * 3 * fact(2)
# ... = 4 * 3 * 2 * fact(1)
# ... = 4 * 3 * 2 * 1 = 24

def fact(n):
   if n == 1:
       return 1
   return fact(n-1)*n
 
print(fact(4))

24

In [51]:
# very tricky question that caught me out!
# Initially i = 2 so control will go to else part.
# return f(0) * f(3) ... f(0) will again go to else part ...
# ... this will keep on going to else part because i < 2 is fulfilled.

def f(i):
   if i > 2:
       return i
   else:
       return f(0) * f(3)
 
# print(f(2))
# RecursionError: maximum recursion depth exceeded in comparison

In [52]:
# min() function returns the minimum value.

hits= [8,5,9,6,3, 3, 10,10]
 
def minhits(hits):
   return min(hits)
   
print(minhits(hits))

3

In [53]:
# exp() has 2 default arguments ...
# ... exp(4) calls exp() function as pow is overriden with 4 and num is already 2 ...
# ... pow**num = 4**2 = 16.

def exp(pow = 3, num = 2):
   return pow ** num
 
print(exp(4))

16

In [54]:
# func(py) returns ['Python','Java'] which is stored in ret!

def func(py):
   return ['Python','Java']
 
lst = [2, 3, 4]
ret = func(lst);
print(ret)

['Python', 'Java']

In [55]:
# I got this one correct, but it's a tricky question and it took some thought ...

my_list = [x * x for x in range(5)]
# [0,1,2,3,4]
# becomes [0,1,4,9,16]

def fun(lst):
    del lst[lst[2]]
    # index 2 of my_list is 4
    # delete value in index 4 in my_list --> [0,1,4,9]
    return lst

print(fun(my_list))

[0, 1, 4, 9]

In [56]:
# very tricky question - caught me out!
# First, cars_disp() is called and "Pagani" is added after the last element of ["Ferrari","Aston", "Lamborghini"] so it is ["Ferrari","Aston", "Lamborghini", "Pagani"]
# Again, cars_disp() is called and "McLaren" is added after the last element of ["Ferrari","Aston", "Lamborghini", "Pagani"] so it is ["Ferrari","Aston", "Lamborghini", "Pagani", "McLaren"]

def cars_disp(new, clist=[]):
   clist.append(new)
   return clist
 
top_cars = cars_disp("Pagani",["Ferrari","Aston", "Lamborghini"])
print(cars_disp("McLaren", top_cars))

['Ferrari', 'Aston', 'Lamborghini', 'Pagani', 'McLaren']

5. Error Handling

In [57]:
# this is very useful for testing a range of inputs!

try:
    value = input("Enter a value: ")
    print(int(value)/len(value))
except ValueError:
    print("Bad input ...")
except ZeroDivisionError:
    print("Very bad input ...")
except TypeError:
    print("Very very bad input ...")
except:
    print("Booo!")

Enter a value: 7
7.0

In [58]:
# didn't understand the error message at first!
# There isn't a 0 'value' in the tupple itelf, so it cannot be indexed.
# I made this very easy question way more challenging than it actually was.

foo = (1, 2, 3)
#foo.index(0)

In [59]:
# I made the same mistake with this one too!

a= [1,2,3,4,5]
print(a.index(3))

2

In [60]:
# I understand why there is an error - you cannot use 'break' outside a loop!
# I'm assuming it can only be a syntax error beccause it is not in relation to an entered value.

try:
    print(5/0)
    break
except:
    print("Sorry, something went wrong ...")
except (ValueError, ZeroDivisionError):
    print("Too bad ...")

SyntaxError: 'break' outside loop (846674126.py, line 6)

x. Other

In [61]:
print(1*2*3*1**6*3)

18

In [62]:
print(12. * 1000000000000000)

1.2e+16

In [63]:
# The exponentiation (**) operator has higher priority than the floor division(//) operator.
# ... Hence, 1//3 is 0.

print(1 ** 6 // 3)

0

In [64]:
# this has to do with 'Bitwise' and updating variables - XOR!

a = 1
b = 0
a = a ^ b # a = 1 ^ 0 = 1
b = a ^ b # b = 1 ^ 0 = 1
a = a ^ b # a = 1 ^ 1 = 0

print(a, b)

0 1